{% capture tocWorkspace %}
    {% assign minHeader = 1 %}
    {% assign maxHeader = 4 %}
    {% assign nodes = include.html | split: '<h' %}

    {% capture firstTag %}{{ nodes | first }}{% endcapture %}
    {% capture resetHeaders %}{% for i in (1..6) %}0{% endfor %}{% endcapture %}
    {% assign prevLevel = 0 %}
    {% assign headerCount = 0 %}
    {% assign headerLevels = resetHeaders | split: '' %}

    {% capture output %}{% endcapture %}

    {% for node in nodes offset:1 %}
        {% assign headerLevel = node | slice: 0 | times: 1 %}
        {% if headerLevel < minHeader or headerLevel > maxHeader %}{% continue %}{% endif %}

        {% assign headerCount = headerCount | plus: 1 %}
        {% assign tag = 'h' | append: headerLevel %}

        {% assign id = node | split: 'id="' | last | split: '"' | first %}
        {% assign text = node | split: '</h' | first | split: '>' | last | strip %}

        {% if prevLevel > 0 %}
            {% if headerLevel > prevLevel %}
                {% capture output %}{{ output }}<ul>{% endcapture %}
            {% elsif headerLevel < prevLevel %}
                {% capture output %}{{ output }}</li>{% endcapture %}
                {% assign steps = prevLevel | minus: headerLevel %}
                {% for i in (1..steps) %}
                    {% capture output %}{{ output }}</ul></li>{% endcapture %}
                {% endfor %}
            {% else %}
                {% capture output %}{{ output }}</li>{% endcapture %}
            {% endif %}
        {% endif %}

        {% capture output %}{{ output }}<li><a href="#{{ id }}">{{ text }}</a>{% endcapture %}
        {% assign prevLevel = headerLevel %}
    {% endfor %}

    {% for i in (1..prevLevel) %}
        {% capture output %}{{ output }}</li></ul>{% endcapture %}
    {% endfor %}

    {{ output }}
{% endcapture %}{% assign tocWorkspace = '' %}{{ output }}
